<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap CSS /Modal -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS /Modal -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>Mallenge</title>

    <!-- main CSS, js import -->
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/main.js"></script>
</head>

<body>
<!--banner-->
<nav class="menubar">
        <a href="#"><img src="../static/logo_en.png" class="menuLogo"></a>
        <ul class="menuItem">
            <li><b>닉네임</b>님</li>
            <button type="button" class="btn btn-outline-dark">로그아웃</button>
        </ul>
    </nav>

<!--upload / modal -->
<button class="upload-btn" onclick='$("#modal-post").addClass("is-active")'><span class="add">+</span></button>
<div class="modal" id="modal-post">
    <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <div class="field">
                            <label class="label">챌린지 이미지를 선택 해주세요!</label>
                            <div class="control is-expanded">
                                <div class="file has-name">
                                    <label class="file-label" style="width:100%">
                                        <input id="challenge_img" class="file-input" type="file"
                                               name="resume">
                                        <span class="file-cta"><span class="file-icon">파일</span></span>
                                        <span id="file-name" class="file-name"
                                              style="width:100%;max-width:100%"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="field period-input" style="margin-top: 25px">
                            <div>
                                <label class="label">시작 날짜</label>
                                <input id="start-data" type="date" name="start-day">
                            </div>
                            <div>
                                <label class="label">종료 날짜</label>
                                <input id="end-data" type="date" name="end-day">
                            </div>
                        </div>
                        <div class="field" style="margin-top: 25px">
                            <label class="label">챌린지 한줄 소개 부탁드려요!</label>
                            <p class="control">
                    <textarea id="contents" class="textarea"
                              placeholder=""></textarea>
                            </p>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a class="button posting-btn" onclick="posting()">포스팅</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-post").removeClass("is-active")'></button>
</div>
<section class="section">
    <div id="post-box" class="container"></div>
</section>

<!--challenge List-->
<div class="wrap">
    <div class="row row-cols-md-5 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘 코딩<small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘 코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                <div class="card-body">
                    <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                    <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                    <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>