<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Mallenge-mypage</title>
    <script>
        $(document).ready(function () {
            mypageload();
        });

        function mypageload() {
            $.ajax({
                type: "GET",
                url: "/test?title_give=봄날은간다",
                data: {},
                success: function (response) {
                    console.log(response)
                }
            })
        }
    </script>


    <link rel="stylesheet" href="../static/mypage.css">
    <script src="../static/main.js"></script>
</head>
<body>
    <nav class="menubar">
        <a href="#"><img src="../static/logo_en.png" class="menuLogo"></a>
        <ul class="menuItem">
            <li><b>닉네임</b>님</li>
            <button type="button" class="btn btn-outline-dark">로그아웃</button>
        </ul>
    </nav>
    <div class="profile">
        <b>다혜</b>님, 오늘도&nbsp;<b class="emphasis">맬린지</b>하세요!
    </div>
    <section class="mypageSub">
        <h3>내가 참여하는 챌린지</h3>
    </section>
    <!--challenge List-->
    <div class="wrap">
        <div class="row row-cols-md-5 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘 코딩<small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>2022.11.14일-2022.11.18</span></h6>
                        <progress value="20" max="100"></progress>
                        <p class="card-text">20% 달성</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="mypageSub">
        <h3>내가 만든 챌린지</h3>
    </section>
    <!--challenge List-->
    <div class="wrap">
        <div class="row row-cols-md-5 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘 코딩<small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>2022.11.14일-2022.11.18</span></h6>
                        <progress value="20" max="100"></progress>
                        <p class="card-text">20% 달성</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='image/coding.png') }}"> <!--flask img 불러오기-->
                    <div class="card-body">
                        <h5 class="card-title">밤샘코딩 <small class="participants">10명 참여중</small></h5>
                        <h6 class="card-text period">기간 <span>202.11.14일-2022.11.18</span></h6>
                        <p class="card-text">밤샘코딩으로 미니프로젝트를 완성해 보아요~</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>